.about__container {
  display: grid;
  grid-template-columns: 25% 50%;

}

.about__me {
    aspect-ratio: 1/1;
    display: grid;
    place-items: start;
    align-items: end;
    justify-items: center;
    justify-content: center;
}

.about__me-image {
    width: 300px;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
    /* border-bottom: 10px solid #ff00a870; */
    border-radius: 30px;
    border-left: 2px rgba(0, 128, 0, 0.377) solid;
    border-bottom: 2px rgba(0, 128, 0, 0.377) solid;
}

.about__me-image img {
  width: 100%;
  height: auto;
}

.about__me-image:hover {
  transform: rotate(0);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about__icon {
  color: var(--color-a);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__content {
    display: flex;
    flex-direction: column-reverse;
    /* align-items: center; */
    text-align: center;
    /* margin-top: 2rem; */
}
.about__content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}

/*===== MEDIA QUERIES (MEDIUM DEVICES)======= */
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 80%;
    margin: auto;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}

/*===== MEDIA QUERIES (SMALL DEVICES)======= */
@media screen and (max-width: 600px) {
 .about__me {
    width: 88%;
    margin: 0 auto 3rem;
}

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
.about__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    text-align: center;
    
}
  .about__content p {
    text-align: center;
    margin: 1.5rem 0;
  }

 .about__me-image {
    width: 230px;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
    border-radius: 30px;
  
}
}
