.container {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.head {
  font-size: 24px;
  color: var(--color-light);
  text-align: center;
}

.head h2{
    font-size: 30px;
    color: var(--color-a);
    text-align: center;
}
.container-header__container {
  display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin-top: 2rem;
}

.header-about__me {
     display: flex;
    position: relative;
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
  width: 550px;
  margin-top: 1rem;
}

.header-image:hover {
  transform: rotate(0);
}

.socials {
  display: flex;
    align-items: center;
    margin-top: 1rem;
    flex-direction: row-reverse;
    gap: 30px;
}

.btn_social {
  margin: 0 0.5rem; /* Ajout de marges entre les boutons sociaux */
}

.btn_social a {
  color: var(--color-primary);
}

.btn_socials {
  display: flex;
  flex-direction: row; /* Aligner les boutons sociaux horizontalement */
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.btn_socials a {
  margin: 0 0.5rem; /* Ajout de marges entre les boutons sociaux */
}

.btn_socials a:last-child {
  margin-right: 0; /* Aucune marge à droite pour le dernier bouton social */
}

.btn_socials,
.btn_social {
  margin-top: 1rem; /* Ajout de marge entre les boutons sociaux et le bouton Télécharger CV */
}

.btn_socials,
.btn_social,
.btn-social-download {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-social-download a {
  color: var(--color-primary);
  display: block;
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
}
  .header-image {
    width: 100%;
  }
  .container-header__container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 2rem;
}
}
